body {
    text-align: center;
    color: #000f08;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }

  .cc{
    padding: 0 0.1rem 0 0.1rem;
    background: #17A2B8 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #FFFFFF;
  }

  .pie {
    padding: 0 0.1rem 0 0.1rem;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: #E83E8C 0% 0% no-repeat padding-box;
    width: auto;
  }
  
  .pie a {
        color: #ffffff;
  }
  
  .imgPie  {
    padding: 2rem 2rem 2rem 2rem;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
  }